@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* global */
:root {
    --font-small:10px;
    --font-medium:32px;
    --font-large:48px;

    
    
}

* {
    font-family: 'Roboto', sans-serif;
    
}

body {
    box-sizing: border-box;
    margin:0;
    width:100%;
}

h2 {
    font-weight: bolder;
    font-size:var(--font-large);
}

section {
    text-align:center;
}

#home h2,h3,button {
    position:relative;
    z-index:1000;
}

a {
    color:white;
    text-decoration:none;
}

li {
    list-style:none;
    cursor:pointer;
}

button {
    border:2px solid white;
    outline:none;
    background:transparent;
    cursor:pointer;
}



#navbar {
    display:flex;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    color:white;
}

.navbar__logo {
    font-size:var(--font-medium);
    margin-left:20px;
}

.navbar__menu {
    display:flex;
    margin-right:32px;
}

.navbar__item {
    margin:0px 4px;
    border-radius:4px;
    padding:8px 12px;
}

.navbar__item.active {
    border:1px solid white;
}

.navbar__item:hover {
    background-color:white;
    color:black;
    transition:0.2s;
  
}

#home {
    background: url('img/background.jpg') center/cover no-repeat;
    height:500px;
    padding:40px;
    text-align:center;
}

.homebg__dark {
    position:absolute;
    top:75px;
    left:0;
    background-color:rgba(0, 0, 0, 0.5);
    height:500px;
    width:100%;
    padding:40px;
}


.home__title {
    font-size:42px;
    margin-top:200px;
    color:white;
    position:relative;
    
}

.home__description {
    font-weight:lighter;
    font-size:18px;
    color:white;
}

.home__contact {
    font-size:18px;
    margin-top:80px;
    color:white;
    padding:18px 32px;
    border-radius:4px;
}

.home__contact:hover {
    background-color:white;
    color:black;
    transition:all 0.2s;
}


#about {
    border:1px solid red;
    height:500px;
}



.about__avatar {
    display:flex;
    justify-content: center;
    margin-top:50px;
}

.avatar__img {
    width:250px;
    height:300px;
    border-radius:10px;
    margin-right:20px;
}



