@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* global */
:root {
    --font-small:10px;
    --font-medium:32px;
    --font-large:48px;

    --font-bold:800;
    
}

* {
    font-family: 'Roboto', sans-serif;
    
}


body {
    box-sizing: border-box;
    margin:0;
    width:100%;
    height:100%;
    text-align:center;
}

h2 {
    font-weight: var(--font-bold);
    font-size:var(--font-large);
    text-align:center;
    margin-top:20px;
}



#home h2,h3,button {
    position:relative;
    z-index:1000;
}

a {
    color:white;
    text-decoration:none;
}

li {
    list-style:none;
    cursor:pointer;
}

button {
    border:2px solid white;
    outline:none;
    background:transparent;
    cursor:pointer;
}

.section {
    padding:50px;
    text-align: center;
}



#navbar {
    position:fixed;
    display:flex;
    width:100%;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    color:white;
    transition: all 0.2s ease-in;
    z-index:1000;
}

#navbar.navbar--dark {
    background-color:#222831;
}

.navbar__logo {
    font-size:var(--font-medium);
    margin-left:12px;
}

.navbar__menu {
    display:flex;
    margin-right:32px;
    transition: all 0.2s ease-in;
}

.navbar__item {
    margin:0px 4px;
    border-radius:4px;
    padding:8px 12px;
}

.navbar__item.active {
    border:1px solid white;
}

.navbar__item:hover {
    background-color:white;
    color:black;
    transition:0.2s;
  
}

.bg__container {
    background: url('img/backgroundcv.jpg') center/cover no-repeat;

}



.home__title {
    font-size:42px;
    margin-top:200px;
    color:white;
    position:relative;
    
}

.home__description {
    font-weight:lighter;
    font-size:18px;
    color:white;
}

.home__contact {
    font-size:18px;
    margin-top:80px;
    color:white;
    padding:18px 32px;
    border-radius:4px;
}

.home__contact:hover {
    background-color:white;
    color:black;
    transition:all 0.2s;
}


#about {
    height:500px;
}



.about__avatar {
    display:flex;
    justify-content: center;
    margin-top:50px;
}

.avatar__img {
    width:250px;
    height:300px;
    border-radius:10px;
    margin-right:20px;
}

.about__description {
    margin-left:50px;
}

#skill {
    max-width:1200px;
    margin:auto;
}

.skillset {
    display:flex;
}

.skill {
    width:500px;
    height:400px;
}

.skill.line {
    border-left:1px solid black;
    border-right:1px solid black;

}

.skill__title {
    font-size:23px;
}

.skill__container {
    display:flex;
    justify-content: center;
}

.skill__item {
   display:flex;
   flex-direction:column;
   align-items: center;
}
.skill__img {
    width:70px;
    height:70px;
    border:1px solid lightgrey;
    border-radius: 50%;
    padding:2px;
    margin:12px;
    transition: all 0.2s ease-in-out;
}

.skill__img:hover {
    transform:scale(1.2);
}

.skill__description {
    color:black;
}



.project__categories {
    margin-top:14px;
    
}

.categories__btn {
    border:1px solid lightgrey;
    border-radius:4px;
    font-size:18px;
    margin:4px;
    padding:4px 12px;
    transition:0.2s;
}

.categories__btn.active,
.categories__btn:hover {
    background-color: #0d335d;
    color:white;
}

.categories__btn.active>.categories__count{
    opacity:1;
    top:0px;
}

.categories__count {
    color:black;
    border:1px solid white;
    display:inline-block;
    border-radius:50%;
    position:relative;
    top:-12px;
    width:24px;
    height:24px;
    line-height:24px;
    background-color:#fff3e6;
    margin-left:4px;
    transition:0.2s;
    opacity:0;
}

.categories__btn:hover>.categories__count {
    top:0px;
    opacity: 1;
}



.project__works {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:20px;
    
}

.work {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#e3e2e1;
    width:250px;
    height:250px;
    margin:14px;
    transition:all 0.2s ease-in-out;
}

.work:hover {
    transform:scale(1.1);
}

.work__img {
    max-width:100%;
    max-height:100%;
    
}

.work__description {
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity: 0;
    background-color: black;
    transition:all 0.2s ease-in-out;
}

.work__description:hover {
    opacity: 0.8;
}

.project__works h3,span {
    color:white;
}

.project__works h3:after {
    content: '';
    display:block;
    position:relative;
    left:50%;
    margin-left:-12px;
    margin-top:10px;
    width:24px;
    height:2px;
    background-color: white;  
}


#contact {
    background:url('img/footer.png') center/cover no-repeat;
    color:white;
}

.contact__email {
    font-size:24px;
}

.far {
    margin-top:50px;
}

.fab {
    margin-top:12px;
    font-size:48px;
}

.copyright {
    margin-top:30px;
}


.toggleBtn {
    position:absolute;
    top:22px;
    right:40px;
    color:white;
    border:none;
    font-size:24px;
    display:none;
}

.arrow-up {
    position:fixed;
    right:30px;
    bottom:50px;
    font-size:34px;
    border:1px solid black;
    border-radius:50%;
    background-color:#222831;
    color:white;
    visibility: hidden;
    transition:all 0.2s ease-in;
}

.arrow-up.visible {
    visibility:visible;
    transition:all 0.2s ease-in;

}



@media screen and (max-width:768px) {

    #navbar {
        flex-direction:column;
        
    }

    .navbar__logo {
        margin-left:-4px;
        
        
    }

    .navbar__menu {
        display:none;
        transition: all 0.2s ease-in;
       
    }

    .navbar__menu.visible {
        display:block;
        margin:0;
        padding:0;
        background-color: black;
    }

    .navbar__item.active,
    .navbar__item:hover {
        width:400px;
    }

    #skill {
        padding:0;
    }

    .skill.line {
        border:none;
    }

    
    .skillset {
        flex-direction: column;
    }
    .toggleBtn {
        display:block;
    }

    
}